@inherits LayoutComponentBase

<PageTitle>blazor-tut</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0" target="_blank">Razor Docs</a>
            <a href="https://google.com/" target="_blank">Google</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
